* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
  }
  
 
  
  body {
      width: 960px;
      font-size: 18px;
      line-height: 32px;
      color: #777;
      margin-left: 100px;
      margin-right: 150px;
      background-color: #777;
  }
  header {
      background: #ebebeb;
      padding: 20px;
      margin-bottom: 10px;
      color: #777;
  }
  nav {
      background: #ebebeb;
      padding: 20px;
      margin-bottom: 20px;
      color: #777;
  }
  section {

      width: 495px;
      padding: 20px;
      background: #777;
      margin-bottom: 20px;

  }
  #section1 {
      width: 495px;
      height: 300px;
      background: #ebebeb;
      padding-top: 30px;
      float: left;
      margin-bottom: 20px;
      color: #777;
  }
  #article1 {
      width: 475px;
      height: 220px;
      background: #777;
      margin: 10px 10px 10px 10px;
      padding-top: 10px;
      color: #ebebeb;
  }
  
  
  .parts {
      width: 445px;
      height: 80px;
      background: #ebebeb;
      margin: 10px 30px 10px 10px;
      padding-top: 10px;
      color: #777;
  }
  
  #h123 {
      width: 440px;
      height: 70px;
      background: #ebebeb;
      margin: 10px 30px 10px 15px;
      padding-top: 10px;
      color: #777;
      font-weight: bold;
      font-size: 24px;
  }
  
  #p1 {
      width: 440px;
      height: 70px;
      background: #ebebeb;
      margin: 10px 30px 10px 15px;
      padding-top: 10px;
      color: #777;
  }
  
  #aside1 {
      width: 440px;
      height: 300px;
      background: #ebebeb;
      padding-top: 30px;
      float: right;
      color: #777;
  }
  #footer1{
      clear: both;
      background: #ebebeb;
      padding: 20px;
      color: #777;
      color: #777;
  }
  